<!-- ========== HEADER ========== -->
<header id="header" class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-light navbar-show-hide"
        data-hs-header-options='{
            "fixMoment": 1000,
            "fixEffect": "slide"
          }'>

    <div class="container mt-md-6">
        <nav class="js-mega-menu navbar-nav-wrap">
            <!-- Default Logo -->
            <a class="navbar-brand" href="./index.html" aria-label="Front">
                <img class="navbar-brand-logo" src="{{ site.baseurl }}/assets/svg/logos/bones-logo.svg" alt="Logo" style="max-width:9rem;">
            </a>
            <!-- End Default Logo -->

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-default">
            <i class="bi-list"></i>
          </span>
                <span class="navbar-toggler-toggled">
            <i class="bi-x"></i>
          </span>
            </button>
            <!-- End Toggler -->

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul id="navbarNavDropdownNav" class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#About">关于博志</a>
                    </li>

                    <!-- Solutions -->
                    <li class="hs-has-mega-menu nav-item">
                        <a id="demosMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle active" aria-current="page" href="#Solutions" role="button" data-bs-toggle="dropdown" aria-expanded="false">解决方案</a>

                        <!-- Mega Menu -->
                        <div class="hs-mega-menu dropdown-menu w-100" aria-labelledby="demosMegaMenu" style="min-width: 40rem;">
                            <!-- Promo -->
                            <div class="navbar-dropdown-menu-promo">
                                <!-- Promo Item -->
                                <div class="navbar-dropdown-menu-promo-item">
                                    <!-- Promo Link -->
                                    <a class="navbar-dropdown-menu-promo-link" href="./index.html">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                          <span class="svg-icon svg-icon-sm text-primary">
                            <img class="avatar avatar-lg avatar-4x3" src="static/images/product/robot.png" alt="Image Description">

                          </span>
                                            </div>

                                            <div class="flex-grow-1 ms-3">
                                                <span class="navbar-dropdown-menu-media-title">博志微创手术机器人系列</span>
                                                <p class="navbar-dropdown-menu-media-desc">思考，看见，触手可及。</p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- End Promo Link -->
                                </div>
                                <!-- End Promo Item -->

                                <!-- Promo Item -->
                                <div class="navbar-dropdown-menu-promo-item">
                                    <!-- Promo Link -->
                                    <a class="navbar-dropdown-menu-promo-link " href="./demo-real-estate/index.html">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                          <span class="svg-icon svg-icon-sm text-primary">
                            <img class="avatar avatar-lg avatar-4x3" src="static/images/product/p5.png" alt="Image Description">

                          </span>
                                            </div>

                                            <div class="flex-grow-1 ms-3">
                                                <span class="navbar-dropdown-menu-media-title">骨科诊疗一体机 PACS</span>
                                                <p class="navbar-dropdown-menu-media-desc">医疗器械注册证（粤械注准 20202212009）</p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- End Promo Link -->
                                </div>
                                <!-- End Promo Item -->

                                <!-- Promo Item -->
                                <div class="navbar-dropdown-menu-promo-item">
                                    <!-- Promo Link -->
                                    <a class="navbar-dropdown-menu-promo-link " href="./demo-jobs/index.html">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                          <span class="svg-icon svg-icon-sm text-primary">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3" d="M20 15H4C2.9 15 2 14.1 2 13V7C2 6.4 2.4 6 3 6H21C21.6 6 22 6.4 22 7V13C22 14.1 21.1 15 20 15ZM13 12H11C10.5 12 10 12.4 10 13V16C10 16.5 10.4 17 11 17H13C13.6 17 14 16.6 14 16V13C14 12.4 13.6 12 13 12Z" fill="#035A4B"/>
                            <path d="M14 6V5H10V6H8V5C8 3.9 8.9 3 10 3H14C15.1 3 16 3.9 16 5V6H14ZM20 15H14V16C14 16.6 13.5 17 13 17H11C10.5 17 10 16.6 10 16V15H4C3.6 15 3.3 14.9 3 14.7V18C3 19.1 3.9 20 5 20H19C20.1 20 21 19.1 21 18V14.7C20.7 14.9 20.4 15 20 15Z" fill="#035A4B"/>
                            </svg>

                          </span>
                                            </div>

                                            <div class="flex-grow-1 ms-3">
                                                <span class="navbar-dropdown-menu-media-title">Jobs <span class="badge bg-success rounded-pill ms-1">Hot</span></span>
                                                <p class="navbar-dropdown-menu-media-desc">Search millions of jobs online to find the next step in your career.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- End Promo Link -->
                                </div>
                                <!-- End Promo Item -->
                            </div>
                            <!-- End Promo -->

                            <!-- Promo -->
                            <div class="navbar-dropdown-menu-promo">
                                <!-- Promo Item -->
                                <div class="navbar-dropdown-menu-promo-item">
                                    <!-- Promo Link -->
                                    <a class="navbar-dropdown-menu-promo-link " href="./demo-course/index.html">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                          <span class="svg-icon svg-icon-sm text-primary">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 19H4C2.9 19 2 18.1 2 17H22C22 18.1 21.1 19 20 19Z" fill="#035A4B"/>
                            <path opacity="0.3" d="M20 5H4C3.4 5 3 5.4 3 6V17H21V6C21 5.4 20.6 5 20 5Z" fill="#035A4B"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9167 6.83334H9.91666C9.18899 6.83334 8.66666 7.37744 8.66666 8.08334V13.9167C8.66666 14.6226 9.18899 15.1667 9.91666 15.1667H14.9167C15.1841 15.1667 15.3333 15.0112 15.3333 14.75V14.3333H10.3333C10.1032 14.3333 9.91665 14.1468 9.91665 13.9167C9.91665 13.6866 10.1032 13.5 10.3333 13.5H15.3333V7.25001C15.3333 6.9888 15.1841 6.83334 14.9167 6.83334Z" fill="#035A4B"/>
                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="8" y="6" width="8" height="10">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9167 6.83334H9.91666C9.18899 6.83334 8.66666 7.37744 8.66666 8.08334V13.9167C8.66666 14.6226 9.18899 15.1667 9.91666 15.1667H14.9167C15.1841 15.1667 15.3333 15.0112 15.3333 14.75V14.3333H10.3333C10.1032 14.3333 9.91665 14.1468 9.91665 13.9167C9.91665 13.6866 10.1032 13.5 10.3333 13.5H15.3333V7.25001C15.3333 6.9888 15.1841 6.83334 14.9167 6.83334Z" fill="white"/>
                            </mask>
                            <g mask="url(#mask0)">
                            </g>
                            </svg>

                          </span>
                                            </div>

                                            <div class="flex-grow-1 ms-3">
                                                <span class="navbar-dropdown-menu-media-title">Course <span class="badge bg-success rounded-pill ms-1">Hot</span></span>
                                                <p class="navbar-dropdown-menu-media-desc">Learn on your schedule. An online learning and teaching demo.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- End Promo Link -->
                                </div>
                                <!-- End Promo Item -->

                                <!-- Promo Item -->
                                <div class="navbar-dropdown-menu-promo-item">
                                    <!-- Promo Link -->
                                    <a class="navbar-dropdown-menu-promo-link " href="./demo-shop/index.html">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                          <span class="svg-icon svg-icon-sm text-primary">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3" d="M20 22H4C3.4 22 3 21.6 3 21V2H21V21C21 21.6 20.6 22 20 22Z" fill="#035A4B"/>
                            <path d="M12 14C9.2 14 7 11.8 7 9V5C7 4.4 7.4 4 8 4C8.6 4 9 4.4 9 5V9C9 10.7 10.3 12 12 12C13.7 12 15 10.7 15 9V5C15 4.4 15.4 4 16 4C16.6 4 17 4.4 17 5V9C17 11.8 14.8 14 12 14Z" fill="#035A4B"/>
                            </svg>

                          </span>
                                            </div>

                                            <div class="flex-grow-1 ms-3">
                                                <span class="navbar-dropdown-menu-media-title">E-Commerce</span>
                                                <p class="navbar-dropdown-menu-media-desc">Choose an online store &amp; get your business online today!</p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- End Promo Link -->
                                </div>
                                <!-- End Promo Item -->

                                <!-- Promo Item -->
                                <div class="navbar-dropdown-menu-promo-item">
                                    <!-- Promo Link -->
                                    <a class="navbar-dropdown-menu-promo-link " href="./demo-app-marketplace/index.html">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                          <span class="svg-icon svg-icon-sm text-primary">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3" d="M18 10V20C18 20.6 18.4 21 19 21C19.6 21 20 20.6 20 20V10H18Z" fill="#035A4B"/>
                            <path opacity="0.3" d="M11 10V17H6V10H4V20C4 20.6 4.4 21 5 21H12C12.6 21 13 20.6 13 20V10H11Z" fill="#035A4B"/>
                            <path opacity="0.3" d="M10 10C10 11.1 9.1 12 8 12C6.9 12 6 11.1 6 10H10Z" fill="#035A4B"/>
                            <path opacity="0.3" d="M18 10C18 11.1 17.1 12 16 12C14.9 12 14 11.1 14 10H18Z" fill="#035A4B"/>
                            <path opacity="0.3" d="M14 4H10V10H14V4Z" fill="#035A4B"/>
                            <path opacity="0.3" d="M17 4H20L22 10H18L17 4Z" fill="#035A4B"/>
                            <path opacity="0.3" d="M7 4H4L2 10H6L7 4Z" fill="#035A4B"/>
                            <path d="M6 10C6 11.1 5.1 12 4 12C2.9 12 2 11.1 2 10H6ZM10 10C10 11.1 10.9 12 12 12C13.1 12 14 11.1 14 10H10ZM18 10C18 11.1 18.9 12 20 12C21.1 12 22 11.1 22 10H18ZM19 2H5C4.4 2 4 2.4 4 3V4H20V3C20 2.4 19.6 2 19 2ZM12 17C12 16.4 11.6 16 11 16H6C5.4 16 5 16.4 5 17C5 17.6 5.4 18 6 18H11C11.6 18 12 17.6 12 17Z" fill="#035A4B"/>
                            </svg>

                          </span>
                                            </div>

                                            <div class="flex-grow-1 ms-3">
                                                <span class="navbar-dropdown-menu-media-title">App Marketplace</span>
                                                <p class="navbar-dropdown-menu-media-desc">Find apps and integrates seamlessly with popular apps.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- End Promo Link -->
                                </div>
                                <!-- End Promo Item -->
                            </div>
                            <!-- End Promo -->

                            <!-- Promo -->
                            <div class="navbar-dropdown-menu-promo">
                                <!-- Promo Item -->
                                <div class="navbar-dropdown-menu-promo-item">
                                    <!-- Promo Link -->
                                    <a class="navbar-dropdown-menu-promo-link " href="./demo-help-desk/index.html">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                          <span class="svg-icon svg-icon-sm text-primary">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1671 18.1421C22.4827 18.4577 23.0222 18.2331 23.0206 17.7868L23.0039 13.1053V5.52632C23.0039 4.13107 21.8729 3 20.4776 3H8.68815C7.2929 3 6.16183 4.13107 6.16183 5.52632V9H13C14.6568 9 16 10.3431 16 12V15.6316H19.6565L22.1671 18.1421Z" fill="#035A4B"/>
                            <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M1.98508 18V13C1.98508 11.8954 2.88051 11 3.98508 11H11.9851C13.0896 11 13.9851 11.8954 13.9851 13V18C13.9851 19.1046 13.0896 20 11.9851 20H4.10081L2.85695 21.1905C2.53895 21.4949 2.01123 21.2695 2.01123 20.8293V18.3243C1.99402 18.2187 1.98508 18.1104 1.98508 18ZM5.99999 14.5C5.99999 14.2239 6.22385 14 6.49999 14H11.5C11.7761 14 12 14.2239 12 14.5C12 14.7761 11.7761 15 11.5 15H6.49999C6.22385 15 5.99999 14.7761 5.99999 14.5ZM9.49999 16C9.22385 16 8.99999 16.2239 8.99999 16.5C8.99999 16.7761 9.22385 17 9.49999 17H11.5C11.7761 17 12 16.7761 12 16.5C12 16.2239 11.7761 16 11.5 16H9.49999Z" fill="#035A4B"/>
                            </svg>

                          </span>
                                            </div>

                                            <div class="flex-grow-1 ms-3">
                                                <span class="navbar-dropdown-menu-media-title">Help Desk</span>
                                                <p class="navbar-dropdown-menu-media-desc">A customer service demo that helps you balance customer needs.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- End Promo Link -->
                                </div>
                                <!-- End Promo Item -->

                                <!-- Promo Item -->
                                <div class="navbar-dropdown-menu-promo-item">
                                    <!-- Promo Link -->
                                    <a class="navbar-dropdown-menu-promo-link" href="https://htmlstream.com/contact-us" target="_blank">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                          <span class="svg-icon svg-icon-sm text-primary">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M12 17C16.4183 17 20 13.4183 20 9C20 4.58172 16.4183 1 12 1C7.58172 1 4 4.58172 4 9C4 13.4183 7.58172 17 12 17Z" fill="#035A4B"/>
                            <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M6.53819 9L10.568 19.3624L11.976 18.8149L13.3745 19.3674L17.4703 9H6.53819ZM9.46188 11H14.5298L11.9759 17.4645L9.46188 11Z" fill="#035A4B"/>
                            <path opacity="0.3" d="M10 22H14V22C14 23.1046 13.1046 24 12 24V24C10.8954 24 10 23.1046 10 22V22Z" fill="#035A4B"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 17C8 16.4477 8.44772 16 9 16H15C15.5523 16 16 16.4477 16 17C16 17.5523 15.5523 18 15 18C15.5523 18 16 18.4477 16 19C16 19.5523 15.5523 20 15 20C15.5523 20 16 20.4477 16 21C16 21.5523 15.5523 22 15 22H9C8.44772 22 8 21.5523 8 21C8 20.4477 8.44772 20 9 20C8.44772 20 8 19.5523 8 19C8 18.4477 8.44772 18 9 18C8.44772 18 8 17.5523 8 17Z" fill="#035A4B"/>
                            </svg>

                          </span>
                                            </div>

                                            <div class="flex-grow-1 ms-3">
                                                <span class="navbar-dropdown-menu-media-title">New demo ideas?</span>
                                                <p class="navbar-dropdown-menu-media-desc">
                                                    Send us your suggestions <i class="bi-box-arrow-up-right ms-1"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- End Promo Link -->
                                </div>
                                <!-- End Promo Item -->

                                <!-- Promo Item -->
                                <div class="navbar-dropdown-menu-promo-item">
                                </div>
                                <!-- End Promo Item -->
                            </div>
                            <!-- End Promo -->
                        </div>
                        <!-- End Mega Menu -->
                    </li>
                    <!-- End Solutions -->

                    <li class="nav-item">
                        <a class="nav-link" href="#Team">领导力</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#Partners">合作伙伴</a>
                    </li>

                    <!-- <li class="nav-item">
                      <a class="nav-link" href="#HireUS">人才招聘</a>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">联系我们</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./en.html">English</a>
                    </li>
                </ul>
            </div>
            <!-- End Collapse -->
        </nav>
    </div>
</header>
<!-- ========== END HEADER ========== -->