<hr id="Partners">
<!-- Partners -->
<div class="container content-space-2">
    <!-- Heading -->
    <!-- <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <h2 class="h1">合作伙伴</h2>
      <p>Investors & Partners</p>
    </div> -->
    <!-- End Heading -->

    <h2 class="h1 text-center" style="margin-bottom: 5rem!important;">投资机构</h2>
    <!-- <span class="text-cap text-center" style="padding-bottom:5rem!important">Investors</span> -->
    <div class="row justify-content-center text-center">

        <div class="col-md-4 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100 border-light mb-5 shadow-none" href="https://www.sequoiacap.cn" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/investor/sequoia.png" alt="Logo" style="height:4rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">
                    红杉中国</span>
                    <!-- <h4 class="card-title text-primary">Hong Kong X</h4>
                    <p class="card-text text-body small">Hong Kong X</p> -->
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->
        <div class="col-md-4 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100 border-light shadow-none" href="https://www.shukun.net" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/investor/shukun.png" alt="Logo" style="height:4rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">数坤科技</span>
                    <!-- <h4 class="card-title text-primary">Hong Kong X</h4>
                    <p class="card-text text-body small">Hong Kong X</p> -->
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->
        <div class="col-md-4 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100 border-light shadow-none" href="http://www.hkxtech.com/?lang=zh-hans" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/investor/hongkongx.png" alt="Logo" style="height:4rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">Hong Kong X</span>
                    <!-- <h4 class="card-title text-primary">Hong Kong X</h4>
                    <p class="card-text text-body small">Hong Kong X</p> -->
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->
        <div class="col-md-4 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100 border-light shadow-none" href="https://www.miracleplus.com" target="_blank" style="max-height:181px;">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/investor/qiji.png" alt="Logo" style="height:4rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">奇绩创坛</span>
                    <!-- <h4 class="card-title text-primary">Hong Kong X</h4>
                    <p class="card-text text-body small">Hong Kong X</p> -->
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-md-4 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100 border-light shadow-none" href="https://www.itc.gov.hk/ch/index.html" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/investor/hk1.png" alt="Logo" style="height:4rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">香港创新科技署</span>
                    <!-- <h4 class="card-title text-primary">Hong Kong X</h4>
                    <p class="card-text text-body small">Hong Kong X</p> -->
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-md-4 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100 border-light shadow-none" href="https://www.hkstp.org/zh-hk/" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/investor/hk2.png" alt="Logo" style="height:4rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">香港科技园</span>
                    <!-- <h4 class="card-title text-primary">Hong Kong X</h4>
                    <p class="card-text text-body small">Hong Kong X</p> -->
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

    </div>

    <div class="content-space-2 ">
        <h2 class="h1 text-center">合作医院</h2>
        <!-- <span class="text-cap text-center">Collaborated Hospitals</span> -->
    </div>

    <!-- <span class="text-cap text-center content-space-2">合作医院 Partners</span> -->
    <div class="row justify-content-center text-center">
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.301hospital.com.cn/index.html" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p0.png" alt="Logo"  style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">中国人民解放军总医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.puh3.net.cn" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p4.png" alt="Logo"  style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">北京大学第三医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.hku-szh.org" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5" style="min-height:3rem;">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p18.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">香港大学深圳医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www8.ha.org.hk/qmh/" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p16.png" alt="Logo"  style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">香港玛丽医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="http://www.syshospital.com/landingpage" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p5.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">中山大学孙逸仙纪念医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.jst-hosp.com.cn" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p19.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">北京积水潭医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="http://www.tjorthop.org/ReceptionArea/Home/Index?mid=1" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p1.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">天津医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.ypfph.com" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p2.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">云南省第一医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.qiluhospital.com" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p3.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">山东大学齐鲁医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="http://www.zrlyyy.com" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p6.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">吉林大学中日联谊医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.jdyy.cn" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p15.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">吉林大学第一医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.jdey.com.cn" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p14.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">吉林大学第二医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.xiangya.com.cn" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p7.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">中南大学湘雅医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.szhospital.com" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p8.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">深圳市人民医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.pumch.cn/index.html" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p9.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">北京协和医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.gdghospital.org.cn" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p11.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">广东省人民医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.pkuszh.com" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p12.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">北京大学深圳医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="http://xwhosp.com.cn" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p13.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">首都医科大学宣武医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="http://www.rjh.com.cn/2018RJPortal/main/rjsy/index.shtml" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p20.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">上海交通大学瑞金医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="http://www.cdyfy.com" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p17.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">南昌大学第一附属医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.yeecin.com/f/new/hospitalTeamRoom_2199.html" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p21.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">北部战区总医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="http://www.nysy.com.cn" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p22.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">南方医科大学第三附属医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="http://www.fstcm.com.cn" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p23.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">佛山市中医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="http://www.fahsysu.org.cn/home" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p24.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">中山大学附属第一医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.zhhospital.cn/detail/7.html" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p25.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">珠海市人民医院横琴医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.gyfyy.com/cn/index.aspx" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p26.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">广州医科大学附属第一医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="https://www.sznsyy.net" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p27.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">深圳市南山人民医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
            <!-- Card -->
            <a class="card card-transition text-center h-100" href="http://www.hzfh.gd.cn" target="_blank">
                <div class="card-body">
                    <div class="svg-icon text-primary mb-5">
                        <img class="" src="{{ site.baseurl }}/assets/img/partner/p28.png" alt="Logo" style="height:5rem;">
                    </div>
                    <span class="card-title text-cap text-center" style="margin-bottom:0;">惠州市第一人民医院</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->



    </div>