<!-- Hero -->
<div class="container content-space-t-4 mb-3">
    <div class="w-lg-100">
        <h1 class="display-3 mb-5" style="margin-top:-6rem!important">

          <span class="text-primary text-highlight-warning">
            <span class="js-typedjs text-bones"
                  data-hs-typed-options='{
                    "strings": ["让每一位老人拥有健康快乐的骨骼", "让每一次诊疗做到优美而稳固"],
                    "typeSpeed": 50,
                    "loop": true,
                    "backSpeed": 40,
                    "backDelay": 2000,
                    "cursorChar": "<sup>.</sup>"
                  }'></span>
          </span>


        </h1>

        <!-- <p class="lead">成为骨科智能器械全球行业领导企业。</p> -->
    </div>

    <!-- Video Background -->
    <div class="container rounded-2" style="position: relative; padding:20% 45%;">
        <!-- <iframe src="https://player.bilibili.com/player.html?aid=468189382&bvid=BV1v541127Ja&cid=576301473&page=1&high_quality=1&danmaku=0"  style="position: absolute; width: 100%; height: 100%; left: 0; top: 0;"  allowfullscreen="allowfullscreen" scrolling="no" frameborder="0" sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts"></iframe> -->
        <iframe src='https://player.youku.com/embed/XNTg5MjI4MjI3Ng=='  style="position: absolute; width:50%; height: 45%; left: 0; top: 0;" frameborder=0 'allowfullscreen'></iframe>
        <!-- <div class="video-bg">
          <div class="js-video-bg video-bg-content"
               data-hs-video-bg-options='{
                 "videoId": "./assets/video/surgispace"
               }'></div>

          <div class="video-bg-replacer-img" style="background-image: url(./assets/video/working-in-office.png);"></div>

        </div> -->
    </div>
    <!-- End Video Background -->

    <div class="multipurpose-container home-heading-container">
        <div class="home-heading" {{ home_img_background_style }}>
          {{ home_img_tag }}
          <div class="home-heading-message">
            {{ site.data.owner[lng].home.top_header_line1
              | replace: site.data.conf.main.brand_replace, site.data.owner[lng].brand
              | replace: site.data.conf.main.greetings_replace, site.data.lang[lng].constants.greetings
              | replace: site.data.conf.main.welcome_replace, site.data.lang[lng].constants.welcome }}
            {%- if site.data.owner[lng].home.top_header_line2 %}
              <br>
              {{ site.data.owner[lng].home.top_header_line2
                | replace: site.data.conf.main.brand_replace, site.data.owner[lng].brand
                | replace: site.data.conf.main.greetings_replace, site.data.lang[lng].constants.greetings
                | replace: site.data.conf.main.welcome_replace, site.data.lang[lng].constants.welcome }}
            {% endif -%}
          </div>
        </div>
        <div class="home-intro-text markdown-style">
          {{ content }}
        </div>
      </div>

      {%- if lng_pages.size > 0 and site.data.conf.others.home.new_posts %}
<div class="multipurpose-container new-posts-container">
  <h1>{{ site.data.lang[lng].home.new_posts_title }}</h1>
  <ul class="new-posts">
  {%- for _post in lng_pages limit: site.data.conf.others.home.new_posts_count_limit -%}
    <li>
      {%- assign page_title = _post.title -%}
      {%- include util/auto-content-post-title-rename.liquid title = page_title -%}
      {%- include multi_lng/get-localized-long-date-format.liquid date = _post.date -%}
      <a href="{{ site.baseurl }}{{ _post.url }}">{{ page_title }}
        <span>{{ _post.date | date: out_date_format }}</span>
      </a>
    </li>
  {% endfor -%}
    <li>
      {%- include multi_lng/get-page-by-layout.liquid layout = 'archives' -%}
      <a href="{{ site.baseurl }}{{ layout_page_obj.url }}">{{ site.data.lang[lng].home.new_posts_show_more_button }}</a>
    </li>
  </ul>
</div>
{% endif -%}


    <div class="row mb-sm-3 mb-md-0 mt-8">
        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
            <!-- Card -->
            <div class="card card-sm h-100 shadow-none">
                <div class="p-2">
                    <img class="card-img" src="{{ site.baseurl }}/assets/img/about/vision.jpg" alt="Image Description">
                </div>

                <div class="card-body">
                    <h4 class="card-title"><span class="text-bones">愿景</span> </h4>
                    <hr style="color:#0066db;">
                    <p class="card-text">让每一位老人拥有健康快乐的骨骼。</p>

                </div>

                <!-- <a class="card-footer card-link border-top" href="#">Learn more <i class="bi-chevron-right small ms-1"></i></a> -->
            </div>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
            <!-- Card -->
            <div class="card card-sm h-100 shadow-none">
                <div class="p-2">
                    <img class="card-img" src="{{ site.baseurl }}/assets/img/about/mission.jpg" alt="Image Description">
                </div>

                <div class="card-body">
                    <h4 class="card-title"><span class="text-bones">使命</span> </h4>
                    <hr style="color:#0066db;">
                    <p class="card-text">成为骨科智能器械全球行业领导企业。</p>

                </div>

                <!-- <a class="card-footer card-link border-top" href="#">Learn more <i class="bi-chevron-right small ms-1"></i></a> -->
            </div>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
            <!-- Card -->
            <div class="card card-sm h-100 shadow-none">
                <div class="p-2">
                    <img class="card-img" src="{{ site.baseurl }}/assets/img/about/solutions.png" alt="Image Description">
                </div>

                <div class="card-body">
                    <h4 class="card-title"><span class="text-bones">解决方案</span> </h4>
                    <hr style="color:#0066db;">
                    <p class="card-text">基于骨质量精确评估技术，打造人工智能骨科诊疗系统及个性化定制药械，实现骨科治疗与防治智能化转型升级。</p>
                </div>

                <!-- <a class="card-footer card-link border-top" href="#">Learn more <i class="bi-chevron-right small ms-1"></i></a> -->
            </div>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3">
            <!-- Card -->
            <div class="card card-sm h-100 shadow-none">
                <div class="p-2">
                    <img class="card-img" src="{{ site.baseurl }}/assets/img/about/values.png" alt="Image Description">
                </div>

                <div class="card-body">
                    <h4 class="card-title"><span class="text-bones">价值观</span> </h4>
                    <hr style="color:#0066db;">
                    <!-- <p class="card-text">Discover an easier way to manage contacts, sales and grow lasting relationships.</p> -->

                    <!-- List Pointer -->
                    <ul class="list-pointer mb-0">
                        <li class="list-pointer-item">以事实为基础的透明文化</li>
                        <li class="list-pointer-item">以团队为基础的合作文化</li>
                        <li class="list-pointer-item">以坚韧为基础的创新文化</li>
                        <li class="list-pointer-item">以目标为导向的执行文化</li>
                    </ul>
                    <!-- End List Pointer -->
                </div>

                <!-- <a class="card-footer card-link border-top" href="#">Learn more <i class="bi-chevron-right small ms-1"></i></a> -->
            </div>
            <!-- End Card -->
        </div>
        <!-- End Col -->
    </div>
</div>
<!-- End Hero -->