<div class="content-space-2 ">
    <h2 class="h1 text-center">荣誉与报道</h2>
    <!-- <span class="text-cap text-center">Awards & Reports</span> -->
</div>
<!-- <span class="text-cap text-center content-space-2">报道 Reports</span> -->
<div class="row">

    <div class="col-md-3 mb-3 mb-md-0">
        <!-- Card -->
        <a class="card card-transition text-center h-100" href="https://www2.deloitte.com/cn/zh/pages/technology-media-and-telecommunications/articles/deloitte-tech-fast-program-recognizes-the-creativity-and-innovation-of-hong-kongs-fast-growing-companies.html?id=cn:2sm:3wb:4event::6abt:20211215131735::6058939086:5&utm_source=wb&utm_campaign=event&utm_content=abt&utm_medium=social" target="_blank">
            <div class="card-body">
                <div class="svg-icon text-primary mb-5">
                    <img class="" src="./static/images/report/deloitte.png" alt="Logo" style="height:1.5rem;">
                </div>

                <h4 class="card-title text-primary">德勤香港高科技高成长项目表彰香港高成长企业的创新、创造能力</h4>
                <p class="card-text text-body small">Bone's was awarded as 2021 Deloitte Hong Kong Technology Rising Star</p>
                <!-- <span class="card-title text-cap text-center" style="margin-bottom:0;">北部战区总医院</span> -->
            </div>
        </a>
        <!-- End Card -->
    </div>
    <!-- End Col -->

    <div class="col-md-3 mb-3 mb-md-0">
        <!-- Card -->
        <a class="card card-transition text-center h-100" href="https://36kr.com/p/1296625494673799" target="_blank">
            <div class="card-body">
                <div class="svg-icon text-primary mb-5">
                    <img class="" src="./static/images/report/36kr.png" alt="Logo" style="height:1.5rem;">
                </div>

                <h4 class="card-title text-primary">「博志生物」深耕骨科打造产品矩阵，数字化赋能千亿器械市场</h4>
                <p class="card-text text-body small">「博志生物」推动骨科行业数字化升级，助力诊断准确率跃升至90%。</p>
            </div>
        </a>
        <!-- End Card -->
    </div>
    <!-- End Col -->


    <div class="col-md-3 mb-3 mb-md-0">
        <!-- Card -->
        <a class="card card-transition text-center h-100" href="https://mp.weixin.qq.com/s/joN7E_jBHvB2zcWouLdFBg" target="_blank">
            <div class="card-body">
                <div class="svg-icon text-primary mb-5">
                    <img class="" src="./static/images/report/vcbeat.png" alt="Logo" style="height:1.5rem;">
                </div>

                <h4 class="card-title text-primary">博志生物：骨科智能创新实践者如何在诊断治疗全流程中助力医疗升级</h4>
                <p class="card-text text-body small">博志生物科技有限公司专注于为医生与患者提供骨科数字化诊疗解决方案。</p>
            </div>
        </a>
        <!-- End Card -->
    </div>
    <!-- End Col -->

    <div class="col-md-3 mb-3 mb-md-0">
        <!-- Card -->
        <a class="card card-transition text-center h-100" href="https://m.yangshipin.cn/video?type=0&vid=c000002hbty" target="_blank">
            <div class="card-body">
                <div class="svg-icon text-primary mb-5">
                    <img class="" src="./static/images/report/cctv.png" alt="Logo" style="height:1.5rem;">
                </div>

                <h4 class="card-title text-primary">两会青年说：大湾区，深港青年的创业梦工场</h4>
                <p class="card-text text-body small"></p>
            </div>
        </a>
        <!-- End Card -->
    </div>
    <!-- End Col -->

</div>
<!-- End Row -->
</div>
<!-- End Partners -->

</div>