<hr id="Team">

<div class="container content-space-2">
    <h2 class="h1 text-center" style="margin-bottom: 5rem!important;">领导力</h2>

    <div class="row justify-content-center">

        <div class="col-md-3 mb-4">
            <!-- Card -->
            <a class="card card-transition h-100 aos-init aos-animate shadow-none  border border-1" data-aos="fade-up" data-aos-delay="150">

                <div class="card-body text-center" style="padding:1rem;">
                    <img class="card-img-top avatar-img avatar avatar-xxxxl avatar-circle mb-4 mt-2" src="{{ site.baseurl }}/assets/img/team/wwlu.png" alt="Image Description">

                    <h5 class="card-title text-inherit">William Weijia Lu (吕维加)</h5>
                    <p class="card-text text-body small">博志生物创始人/董事长
                        <br>
                        香港大学伍振民基金教授
                    </p>
                </div>

            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-md-3 mb-4">
            <!-- Card -->
            <a class="card card-transition h-100 aos-init aos-animate shadow-none border border-1" data-aos="fade-up" data-aos-delay="150">

                <div class="card-body text-center" style="padding:1rem;">
                    <img class="card-img-top avatar-img avatar avatar-xxxxl avatar-circle mb-4 mt-2" src="{{ site.baseurl }}/assets/img/team/mma.png" alt="Image Description">

                    <h5 class="card-title text-inherit">马驰 </h5>
                    <p class="card-text text-body small">联合创始人/CEO
                        <br>
                        香港大学 骨科学博士
                    </p>
                </div>

            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-md-3 mb-4">
            <!-- Card -->
            <a class="card card-transition h-100 aos-init aos-animate shadow-none border border-1" data-aos="fade-up" data-aos-delay="150">

                <div class="card-body text-center" style="padding:1rem;">
                    <img class="card-img-top avatar-img avatar avatar-xxxxl avatar-circle mb-4 mt-2" src="{{ site.baseurl }}/assets/img/team/qh.png" alt="Image Description">

                    <h5 class="card-title text-inherit">齐欢</h5>
                    <p class="card-text text-body small">研发负责人(CTO)<br>
                        牛津大学 生物医学工程博士
                    </p>
                </div>

            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-md-3 mb-4">
            <!-- Card -->
            <a class="card card-transition h-100 aos-init aos-animate shadow-none border border-1" data-aos="fade-up" data-aos-delay="150">

                <div class="card-body text-center" style="padding:1rem;">
                    <img class="card-img-top avatar-img avatar avatar-xxxxl avatar-circle mb-4 mt-2" src="{{ site.baseurl }}/assets/img/team/lcy.png" alt="Image Description">

                    <h5 class="card-title text-inherit">李朝阳</h5>
                    <p class="card-text text-body small">首席科学家<br>
                        天津大学材料学院 教授
                    </p>
                </div>

            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-md-3 mb-4">
            <!-- Card -->
            <a class="card card-transition h-100 aos-init aos-animate shadow-none border border-1" data-aos="fade-up" data-aos-delay="150">

                <div class="card-body text-center" style="padding:1rem;">
                    <img class="card-img-top avatar-img avatar avatar-xxxxl avatar-circle mb-4 mt-2" src="{{ site.baseurl }}/assets/img/team/kd.png" alt="Image Description">

                    <h5 class="card-title text-inherit">杨柯笛</h5>
                    <p class="card-text text-body small">注册负责人
                        <br>
                        香港大学 骨科学博士
                    </p>
                </div>

            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-md-3 mb-4">
            <!-- Card -->
            <a class="card card-transition h-100 aos-init aos-animate shadow-none border border-1" data-aos="fade-up" data-aos-delay="150">

                <div class="card-body text-center" style="padding:1rem;">
                    <img class="card-img-top avatar-img avatar avatar-xxxxl avatar-circle mb-4 mt-2" src="{{ site.baseurl }}/assets/img/team/cheng.png" alt="Image Description">

                    <h5 class="card-title text-inherit">张澄</h5>
                    <p class="card-text text-body small">临床负责人
                        <br>
                        香港大学 骨科学博士
                    </p>
                </div>

            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-md-3 mb-4">
            <!-- Card -->
            <a class="card card-transition h-100 aos-init aos-animate shadow-none border border-1" data-aos="fade-up" data-aos-delay="150">

                <div class="card-body text-center" style="padding:1rem;">
                    <img class="card-img-top avatar-img avatar avatar-xxxxl avatar-circle mb-4 mt-2" src="{{ site.baseurl }}/assets/img/team/wtc.png" alt="Image Description">

                    <h5 class="card-title text-inherit">吴天驰</h5>
                    <p class="card-text text-body small">机械负责人
                        <br>
                        香港大学 生物力学博士
                    </p>
                </div>

            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-md-3 mb-4">
            <!-- Card -->
            <a class="card card-transition h-100 aos-init aos-animate shadow-none border border-1" data-aos="fade-up" data-aos-delay="150" >
                <div class="card-body text-center" style="padding:1rem;">
                    <img class="card-img-top avatar-img avatar avatar-xxxxl avatar-circle mb-4 mt-2" src="{{ site.baseurl }}/assets/img/team/liangliang.png" alt="Image Description" >
                    <h5 class="card-title text-inherit">王良亮</h5>
                    <p class="card-text text-body small">机器人研发负责人
                        <br>
                        香港大学 机器人方向哲学博士
                    </p>
                </div>

            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-md-3 mb-4">
            <!-- Card -->
            <a class="card card-transition h-100 aos-init aos-animate shadow-none border border-1" data-aos="fade-up" data-aos-delay="150">
                <div class="card-body text-center" style="padding:1rem;">
                    <img class="card-img-top avatar-img avatar avatar-xxxxl avatar-circle mb-4 mt-2" src="{{ site.baseurl }}/assets/img/team/cw.png" alt="Image Description">
                    <h5 class="card-title text-inherit">王晨</h5>
                    <p class="card-text text-body small">产品设计负责人
                        <br>
                        日本高知工科大学 人机交互博士
                    </p>
                </div>

            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-md-3 mb-4">
            <!-- Card -->
            <a class="card card-transition h-100 aos-init aos-animate shadow-none border border-1" data-aos="fade-up" data-aos-delay="150">

                <div class="card-body text-center" style="padding:1rem;">
                    <img class="card-img-top avatar-img avatar avatar-xxxxl avatar-circle mb-4 mt-2" src="{{ site.baseurl }}/assets/img/team/yjh.png" alt="Image Description">

                    <h5 class="card-title text-inherit">尹嘉惠</h5>
                    <p class="card-text text-body small">财务负责人(CFO)
                        <br>
                    </p>
                </div>

            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->


    </div>

</div>

<div class="container">
    <h2 class="h1 text-center" style="margin-bottom: 5rem!important;">专家顾问及孵化导师</h2>

    <div class="row justify-content-center" style="margin-bottom: 5rem!important;">

        <div class="col-md-3 mb-4">
            <!-- Card -->
            <a class="card card-transition h-100 aos-init aos-animate shadow-none border border-1" data-aos="fade-up" data-aos-delay="150">


                <div class="card-body text-center" style="padding:1rem;">
                    <img class="card-img-top avatar-img avatar avatar-xxxxl avatar-circle mb-4 mt-2" src="{{ site.baseurl }}/assets/img/team/lzr.png" alt="Image Description">
                    <h5 class="card-title text-inherit">梁智仁 院士</h5>
                    <p class="card-text text-body small">20多年合作

                        <br>
                        世界矫形及创伤外科协会前主席
                        <br>

                        港大医学院院长
                        <br>
                        医院管理局前主席
                        <br>
                        中国科学院院士

                    </p>
                </div>

            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-md-3 mb-4">
            <!-- Card -->
            <a class="card card-transition h-100 aos-init aos-animate shadow-none border border-1" data-aos="fade-up" data-aos-delay="150">


                <div class="card-body text-center" style="padding:1rem;">
                    <img class="card-img-top avatar-img avatar avatar-xxxxl avatar-circle mb-4 mt-2" src="{{ site.baseurl }}/assets/img/team/qi.png" alt="Image Description">
                    <h5 class="card-title text-inherit">陆奇 博士</h5>
                    <p class="card-text text-body small">Pre-A轮投资人<br>
                        奇绩创坛创始人
                        <br>

                        曾担任百度集团总裁
                        <br>
                        微软全球执行副总裁
                        <br>
                        雅虎执行副总裁

                    </p>
                </div>

            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

    </div>

</div>